<div class="create-container">
  <div class="create-card">
    <div class="create-column">
      <img id="created-image" src="" />
    </div>
    <div class="divider">
    </div>
    <div class="create-column">
      <h2 class="form-title">Create an Item</h2>

      <form class="input-form" action="/items/create" method="POST">
        <label class="form-label" for="title">Title</label>
        <input id="title-input" name="title" maxlength="50"/>
        {{#with newItem.errors.title as |error|}}
          <span class="error">{{error.message}}</span>
        {{/with}}
        <label class="form-label" for="description">Description</label>
        <textarea id="description-input" name="description">{{newItem.description}}</textarea>
        {{#with newItem.errors.description as |error|}}
          <span class="error">{{error.message}}</span>
        {{/with}}

        <label class="form-label" for="imageUrl">Image Url</label>
        <input id="imageUrl-input" name="imageUrl" oninput="handleChange" value="{{newItem.imageUrl}}"/>
        {{#with newItem.errors.imageUrl as |error|}}
          <span class="error">{{error.message}}</span>
        {{/with}}

        <div class="form-navigation">
          <a href="/">
            <img class="back-arrow" src="/img/back.svg" alt="back">
          </a>
          <button class="button submit-button" id="submit-button" type="submit">
            <p>Create new</p>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<script>
  var img = document.getElementById('created-image');
  function handleChange(e) {
    var path = e.target.value.match(/^(https*:\/\/)/i) ? '' : 'http://';
    img.src = path + e.target.value;
  }
  document.getElementById('imageUrl-input').oninput = handleChange;
</script>
